@model ShopAppDemo.Models.Product

<div class="food">
    <div class="food-image" style="background-image: url('/images/@Model.ImageUrl')">
    </div>
    <div class="food-content">
        <div>@Model.Name</div>
        <div>@Model.Description</div>
    </div>
</div>
