* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.font-funny {
    font-family: 'Montserrat Alternates', sans-serif;
}

.content-section {
    padding: 5vh 5vw;
}

.foods {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.food {
    position: relative;
}

.food-image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    width: 300px;
    height: 300px;

    border-radius: 12px;
}

.food-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;

    padding: 10px;
}

.main-navbar {
    display: flex;
    justify-content: space-evenly;
}

.nav-button {
    padding: 10px;
    background-color: #457b9d;
    color: #f1faee;
    font-size: 1.2rem;
    border: none;
    border-radius: 10px;
    transition: 0.3s;
}
.nav-button:hover,
.btn-delete:hover
{
    cursor: pointer;
    opacity: 0.8;
}

footer {
    font-size: 1.2rem;

    background-color: #333;
    color: #fff;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 6vh 0;
}

.delete {
    position: absolute;
    top: 5px;
    right: 5px;
}

.btn-delete {
    border: none;
    background-color: red;
    color: #fff;
    padding: 5px 8px;
    border-radius: 8px;
}